EXPO_PUBLIC_API_URL=http://127.0.0.1:8787
EXPO_PUBLIC_APP_URL=http://127.0.0.1:8081
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=appl_test
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=goog_test
EXPO_PUBLIC_BILLING_ENTITLEMENT_KEY=pro
EXPO_PUBLIC_REVENUECAT_OFFERING_ID=default
